@page "{handler?}"
@model WebAppCoreProduct.Pages.ProductModel
@{
}
<form method="post">
    <label for="name">Название товара</label><br />
    <input type="text" name="name" /><br />
    <label for="price">Цена</label><br />
    <input type="number" name="price" /><br /><br />
    <input type="submit" asp-page-handler="" value="Получить скидку" /><br />

    <label for="discont">Введите свою скидку(%)</label><br />
    <input type="number" name="discont" /><br />
    <input type="submit" asp-page-handler="Discont" value="С учетом своей скидки" /><br />
    <label for="KeshbackDiscont">Или получите кэшбэк</label><br />
    <input type="submit" asp-page-handler="KeshbackDiscont" value="Получить кэшбэк 10% от стоимости" /><br />
</form>





<h3>@Model.MessageRezult</h3>
<h4>@Model.MessageRezult1</h4>