
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Pages</title>
</head>
<body>
    <div>
        <h1>Система учета</h1>
        <div>
            <ul>
                <li><a asp-page="/Index">Главная</a></li>
                <li><a asp-page="/Product">Продукт</a></li>
            </ul>
        </div>
        @RenderBody()
    </div>
    <div>© 2023 - Пользователь </div>
</body>
</html>